// Bootstrap brand color customization


/*     brand Colors              */
/*#6AAB41*/
$brand-primary:              #009688 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $orange-500 !default;
$brand-warning:              $purple-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
